{% set order = settings.order %}

{% if order.state == 'fulfilled' %}
    <div class="ui segment" id="invoice">
        <h3 class="ui dividing header" id="shipping-state">{{ 'sylius.ui.invoice'|trans }}</h3>
        {% for invoice in order.invoices %}
            <a href="{{ path('behappy_invoice_plugin.shop.view_pdf', { 'number': order.number, 'invoiceNumber': invoice.number }) }}"
               class="ui icon labeled tiny fluid button">
                <i class="eye icon"></i>
                {{- 'sylius.ui.show_invoice'|trans -}}
            </a>
        {% endfor %}
    </div>
{% endif %}